/**
 *  lib_codemirror for LEPTON-CMS
 *
 */

.cm_interface_message {
    display: block;
}

/**
 *  Algos
 */
.cm_interface_box {
    display:block;
    width: 100%;
    height:30px !important;
    margin-bottom: 12px;
    margin-top: 8px;
}

.cm_interface_button {
    width:auto;
}

.cm_interface_select {
    width: 160px;
    margin-right: 12px;
}

.CodeMirror {
    height: auto !important;
}

.cm_interface_message_box {
    display: block;
    float: left;
    width:80%;
    height:30px;
    margin: 8px 3px 20px 10px;
    padding: 3px;
    color: #990000;
}

label.cm_talgos {
    margin-right: 39px;
}